<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LastChance</servlet-name>
		<servlet-class>ie.mydit.pollard.stephen.LastChanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LastChance</servlet-name>
		<url-pattern>/lastchance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>ie.mydit.pollard.stephen.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>ie.mydit.pollard.stephen.Serve</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
